#header {
  background-color: rgb(80, 73, 73);
  color: white;
  text-align: center;
  line-height: 30px;
  height: 30px;
}
#footer {
      background-color: rgb(80, 73, 73);
  color: white;
  text-align: center;
  line-height: 30px;
  height: 30px;
}

#content{
    width: 100px;
    height:80vh;
     display: grid;
     grid-template-columns: 100px 100px 100px 100px 100px;
     color: white;     
     grid-column-gap:5px ;
     
}
.sidebar{
      background-color: rgb(80, 73, 73);
      margin-top: 5px;
      margin-bottom: 5px;
      
}
.widget{
    background-color:rgb(84, 142, 84);
    margin-top: 10px;
    margin-bottom: 10px;

}

